
$background: #17130b;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #353027;

$inverse_primary: #7a590c;

$inverse_surface: #ebe1d4;

$on_background: #ebe1d4;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #412d00;

$on_primary_container: #ffdea5;

$on_primary_fixed: #261900;

$on_primary_fixed_variant: #5d4200;

$on_secondary: #3b2e15;

$on_secondary_container: #f6e0bb;

$on_secondary_fixed: #251a04;

$on_secondary_fixed_variant: #53452a;

$on_surface: #ebe1d4;

$on_surface_variant: #d1c5b4;

$on_tertiary: #1f361a;

$on_tertiary_container: #ceebc2;

$on_tertiary_fixed: #0a2007;

$on_tertiary_fixed_variant: #354d2f;

$outline: #9a8f80;

$outline_variant: #4e4639;

$primary: #ecc06c;

$primary_container: #5d4200;

$primary_fixed: #ffdea5;

$primary_fixed_dim: #ecc06c;

$scrim: #000000;

$secondary: #d9c4a0;

$secondary_container: #53452a;

$secondary_fixed: #f6e0bb;

$secondary_fixed_dim: #d9c4a0;

$shadow: #000000;

$source_color: #e6ad2e;

$surface: #17130b;

$surface_bright: #3e382f;

$surface_container: #241f17;

$surface_container_high: #2e2921;

$surface_container_highest: #3a342b;

$surface_container_low: #201b13;

$surface_container_lowest: #120e07;

$surface_dim: #17130b;

$surface_tint: #ecc06c;

$surface_variant: #4e4639;

$tertiary: #b2cfa7;

$tertiary_container: #354d2f;

$tertiary_fixed: #ceebc2;

$tertiary_fixed_dim: #b2cfa7;

