@import "colors.css";
@import "themes/nova-dark/notifications.css";
@import "themes/nova-dark/central_control.css";

* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  transition: 200ms;
}

/* --- Control Center Main Window --- */
.control-center {
  background-color: @background;
  color: @on_surface;
  border-radius: 12px;
  border: 1px solid @outline_variant;
}

.control-center-list {
  background: transparent;
}

/* --- Title Widget --- */
.widget-title {
  margin: 10px;
  font-size: 1.2rem;
  color: @primary;
}

.widget-title > button {
  background: @surface_container;
  color: @on_surface;
  padding: 5px;
  border-radius: 8px;
}

.widget-title > button:hover {
  background: @primary;
  color: @on_primary;
}

/* --- DND Widget --- */
.widget-dnd {
  margin: 10px;
  color: @on_surface;
}

.widget-dnd > switch {
  border-radius: 20px;
  background: @surface_container_highest;
}

.widget-dnd > switch:checked {
  background: @primary;
}

.widget-dnd > switch slider {
  background: @on_background;
  border-radius: 20px;
}

/* --- Buttons Grid (Quick Settings) --- */
.widget-buttons-grid {
  background: @secondary_container;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  border-radius: 12px;
  padding: 10px;
  color: @on_surface;
}


.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @primary_container;
  color: @primary;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
  background: @primary;
  color: @on_primary;
}

/* --- Sliders (Volume & Backlight) --- */
.widget-volume,
.widget-backlight {
  background: @surface_container_low;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
}

.widget-volume trough,
.widget-backlight trough {
  background: @surface_variant;
  min-height: 10px;
  border-radius: 10px;
}

.widget-volume highlight {
  background: @primary;
}

.widget-backlight highlight {
  background: @tertiary;
}

/* --- MPRIS (Media Player) --- */
.widget-mpris {
  background: @surface_container;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.widget-mpris-player {
  padding: 5px;
}

.widget-mpris-title {
  color: @primary;
  font-weight: bold;
}

.widget-mpris-subtitle {
  color: @on_surface_variant;
}

/* --- Notifications --- */
.notification {
  background: @surface_container;
  border-radius: 12px;
  border: 2px solid @primary;
}

.notification-content {
  background: transparent;
}

.notification-default-action:hover {
  background: @surface_container_highest;
}

.critical {
  border: 2px solid @error;
}

.notification-title {
  color: @primary;
  font-weight: bold;
}

.notification-body {
  color: @on_surface;
}
