include "conf/binds.kdl"
include "conf/autostart.kdl"
include "colors.kdl"

input { 
  keyboard {
    xkb {}
    repeat-delay 200
    repeat-rate 30 
    numlock
  }

  touchpad {
    tap
    dwt
    natural-scroll
    accel-speed 0.1
    scroll-method "two-finger"
  }

  mouse {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "no-scroll"
  }
  focus-follows-mouse
}

output "eDP-1" {
  mode "1920x1080@165.002"
  scale 1
  transform "normal"
  position x=0 y=0
}

layout {
  // inner gaps
  gaps 10
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    // off
    width 1
  }

  border {
    off
    width 3

    urgent-color "#9b0000"
  }

  // outer gaps
  // struts {
  //   left -2
  //   right -2
  //   top -3
  //   bottom -4
  // }
}

hotkey-overlay {
  // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
animations {
  // Uncomment to turn off all animations.
  // off

  // Slow down all animations by this factor. Values below 1 speed them up instead.
  // slowdown 3.0
}

// window-rule {
//   match app-id=r#"^org\.wezfurlong\.wezterm$"#
//   default-column-width {}
// }

window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

blur {
  // off
  passes 2 
  offset 8
  noise 0.1
  saturation 1.5
}

// --------------- PERSISTENT WORKSPACES --------------------
workspace "1"
workspace "2"
workspace "3"
workspace "4"


// layer-rule {
//   match namespace="^noctalia-backdrop*"
//   place-within-backdrop true
// }

window-rule {
  geometry-corner-radius 5
  clip-to-geometry true
  opacity 1.0
}

window-rule {
    match app-id="^kitty$"
    background-effect {
        blur true
    }
}
// window-rule {
//   match {}
//   open-maximized true 
// }

window-rule {
  match app-id="kitty"
  match app-id="yazi"
  match app-id="zathura"
  match app-id="obsidian"
  match app-id="wev"
  open-maximized false
}
window-rule {
  match app-id="Brave-origin"
  match app-id="gthumb"
  match app-id="heroic"
  match app-id="net.lutris.Lutris"
  match app-id="vesktop"
  match app-id="pcsx2-qt"
  match app-id="codium"
  match app-id="nvim"
  match app-id="eog"
  open-maximized true
}

window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  match app-id="smile"
  open-floating true
  default-column-width { fixed 1425; }
  default-window-height { fixed 940; }
}

prefer-no-csd
