spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "/usr/lib/pam_kwallet_init"
spawn-sh-at-startup "kwalletd6"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "swaync"
spawn-sh-at-startup "waybar & disown"
spawn-sh-at-startup "flameshot"
spawn-sh-at-startup "eww daemon && eww open desktop_clock"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "cliphist wipe"
